font-family: 'Ysabeau Office',
sans-serif;

* {
    margin: 0px, auto;
    padding: 0px;
    box-sizing: border-box;


}

body {
    display: flex;
    flex-direction: column;

}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
    display: flex;

}

header .logo {
    width: 30%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 5%;

}

header img {
    width: 300px;
    height: 10vh;
}

header nav {
    width: 70%;
    display: flex;
    background-color: rgb(255, 255, 255);



}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 20%;



}

header nav ul li {
    text-decoration: none;
    list-style: none;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Ysabeau Office;



}

header nav ul li a {
    text-decoration: none;
    color: black;

}




header nav ul li a:hover {
    color: cornflowerblue;
    font-size: larger;

}

main {

    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

main .productos {
    width: 100%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 40px;


}



main .productos .item button {
    width: 40px;
    height: 40px;
}

.fa-cart-shopping:hover {
    color: green;
    cursor: pointer;
}

.fa-heart:hover {
    color: red;
    cursor: pointer;
}

main .productos .item {

    border-radius: 30px 30px 30px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: white;

    display: inline-flex;

}

main .productos .item:hover {
    background-color: rgb(212, 224, 247);
    border: none;
}

.item .card-des {
    display: flex;
    flex-direction: column;
    gap: 30%;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 40px;
}

.item .precio {
    display: flex;
    width: 30%;
    background-color: rgba(159, 188, 240, 0.43);
    font-family: Ysabeau Office;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
    margin-top: 0;
}

.item .descripcion {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: Ysabeau Office;
    justify-content: center;

}

.item .botones {
    display: inline-flex;
    gap: 30%;
    padding-left: 25%;




}

.item-1 .card-image {
    display: inline-flex;
    width: 50%;
    background-image: url(./productos/Macetas.webp);
    border-radius: 0px 30px 30px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





.item-2 .card-image {
    display: inline-flex;
    width: 50%;
    background-image: url(./productos/Matri-Piramidal.webp);
    border-radius: 0px 30px 30px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



main .productos .item-3 {
    grid-row: 1 / span 2;
    grid-column: 3;
    font-family: Ysabeau Office;
    border: rgba(159, 188, 240, 0.43) solid 1px;

}

.item-3 {
    display: flex;
    flex-direction: column;
}

.item-3 .card-image3 {
    display: flex;
    height: 80%;
    background-image: url(./productos/maceta-rotomoldeado-MAIDA-piraimdal-texturada-plastico-vivero-agronomia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0px 0px;
}

.item-3 .precio3 {
    display: flex;
    height: 10%;
    background-color: rgb(118, 205, 118);
    font-family: Ysabeau Office;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    border-radius: 30px 0px 30px 0px;
    margin-top: 0;
}

.item-3 .card-des3 {
    display: flex;
    height: 20%;
}

.item-3 .descripcion3 {
    display: inline-flex;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    font-family: Ysabeau Office;
    justify-content: center;
    align-items: center;
}

.botones3 {
    display: inline-flex;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    font-family: Ysabeau Office;
    justify-content: center;
    align-items: center;
    gap: 30%;
    padding-right: 10%;

}

.item-4 .card-image {
    display: inline-flex;
    width: 50%;
    background-image: url(./productos/macetero-oval-con-plato-maceta-ceramico-vivero-agronomia.webp);
    border-radius: 0px 30px 30px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-5 .card-image {
    display: inline-flex;
    width: 50%;
    background-image: url(./productos/Esfera-maceta.webp);
    border-radius: 0px 30px 30px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .galeria {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

main .galeria img {
    display: inline-flex;
    width: 15%;
    height: 30vh;
    cursor: pointer;
    object-fit: cover;
    transition: 1s linear;
    filter: grayscale(85%);

}

main .galeria img:hover {
    filter: grayscale(0);
    width: 20%;
    height: 35vh;


}

footer {

    width: 100%;
    height: 10vh;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(71, 71, 71);
    position: sticky;
    bottom: 0px;
    margin-top: 20px;

}

footer form {

    width: 100%;
    height: 10vh;
    display: inline-flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-family: Ysabeau Office;

}

footer form label {
    color: white;
    font-size: 24px;

}

footer form input {
    width: 50%;
    height: 3vh;
    font-family: Ysabeau Office;
    border-radius: 20px 20px 20px 20px;
}

footer form input:focus {
    color: rgb(0, 0, 0);
    font-size: 16px;
    outline: thick double cornflowerblue;
    font-family: Ysabeau Office;
    padding: 10px;
    font-size: 20px;
}

footer form button {
    font-family: Ysabeau Office;
    padding: 10px;
    font-size: 20px;
}

footer form button:hover {
    cursor: pointer;
}

footer .redes {

    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.fa-brands:hover {
    cursor: pointer;
}