font-family: 'Ysabeau Office',
sans-serif;

* {
    margin: 0px, auto;
    padding: 0px;
    box-sizing: border-box;


}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
    display: flex;

}

header .logo {
    width: 30%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 5%;

}

header img {
    width: 300px;
    height: 10vh;
}

header nav {
    width: 70%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: solid black 1px;


}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 20%;


}

header nav ul li {
    text-decoration: none;
    list-style: none;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Ysabeau Office;


}

header nav ul li a {
    text-decoration: none;
    color: black;


}
header nav ul li a:hover{
    color:cornflowerblue;
    font-size: larger;
}

main {

    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

main .productos {
    width: 100%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom: 20px;
    margin-top:20px;


}

/*margin-top:20px;
    background-image: url(./Imágenes/plato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 30px 0px 0px;
*/




main .productos .item-1 {
    background-image: url(./productos/Esfera-maceta.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
    border:rgba(159, 188, 240, 0.43) solid 1px;
    background-color: rgba(159, 188, 240, 0.43);

}

main .productos .item-1 .precio{
    background-color:cornflowerblue;
    width:25%;
    color:white;
    font-size: 40px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 0;
 
    
}



.item{
    border: none;
    border-radius: 20px 20px 20px 20px;
   
}


main .productos .item-2 {
    background-image: url(./productos/Macetas.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
    border:rgba(159, 188, 240, 0.43) solid 1px;
    background-color: rgba(159, 188, 240, 0.43);
}

main .productos .item-2 .precio{
    background-color:cornflowerblue;
    width:25%;
    color:white;
    font-size: 40px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 0;
 
    
}
main .productos .item-3 {
    grid-row: 1 / span 2;
    grid-column: 3;
    background-image: url(./productos/maceta-rotomoldeado-MAIDA-piraimdal-texturada-plastico-vivero-agronomia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(159, 188, 240, 0.43);
    

   
}
main .productos .item-3 .precio{
    background-color:cornflowerblue;
    border:rgba(159, 188, 240, 0.43) solid 1px;
    width:25%;
    color:white;
    font-size: 40px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 0;
    
}


main .productos .item-4 {
    background-image: url(./productos/macetero-oval-con-plato-maceta-ceramico-vivero-agronomia.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border:rgba(159, 188, 240, 0.43) solid 1px;
    background-color: rgba(159, 188, 240, 0.43);
 


}
main .productos .item-4 .precio{
    background-color:cornflowerblue;
    width:25%;
    color:white;
    font-size: 40px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 0;
    
 
    
}




main .productos .item-5 {
    background-image: url(./productos/Matri-Piramidal.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
    border:rgba(159, 188, 240, 0.43) solid 1px;
    background-color: rgba(159, 188, 240, 0.43);
}
main .productos .item-5 .precio{
    background-color:cornflowerblue;
    width:25%;
    color:white;
    font-size: 40px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 0;
 
    
}
main .galeria {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top:20px;
}

main .galeria img {
    display: inline-flex;
    width: 15%;
    height: 30vh;
  margin-right: 5px;
  cursor: pointer;
  object-fit:cover;
  transition: 1s linear;
  filter: grayscale(80%)

}
main .galeria img:hover{
    filter: grayscale(0);
    width: 20%;
    height: 35vh;
}
footer {
    border-top: solid black 1px;
    width: 100%;
    height: 10vh;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

footer form {

    width: 100%;
    height: 10vh;
    display: inline-flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

footer form input {
    width: 50%;
    height: 3vh;
}

footer .redes {

    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}