* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#uno {
    background-color: cornflowerblue;
    width: 100%;
    height: 10vh;

}

#divisor {
    background-color: darkkhaki;
    width: 70%;
    height: 20vh;

}

.tres {
    background-color: darksalmon;
    width: 30%;
    height: 20vh;

}

button {
    padding: 20px;
    font-weight: bold;
    border-radius: 10%;
    margin: 10%;
}

#cuatro {
    background-color: darkmagenta;
    color: white;
}

#cinco {
    background-color: gold;
}